{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Upload Image</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <p>
        {{ form.image.label_tag }}<br>
        {{ form.image }}
        {% if form.image.errors %}
            <span style="color:red">{{ form.image.errors }}</span>
        {% endif %}
    </p>
    
    <p>
        {{ form.caption.label_tag }}<br>
        {{ form.caption }}
        {% if form.caption.errors %}
            <span style="color:red">{{ form.caption.errors }}</span>
        {% endif %}
    </p>
    
    <p>
        {{ form.category.label_tag }}<br>
        {{ form.category }}
        {% if form.category.errors %}
            <span style="color:red">{{ form.category.errors }}</span>
        {% endif %}
    </p>
    
    <button type="submit">Upload</button>
</form>
{% endblock %}
